
<section class="section-footer">
    <div class="padding-global navlist-padding">
      <div class="container-large">
        <div class="footer-wrapper">
          <div id="w-node-ef992205-966c-748f-d053-488a176f9593-176f958f" class="footer-column">
            <div class="footer-link-title bot-5">SITE LINKS</div>
            <a id="w-node-ef992205-966c-748f-d053-488a176f9596-176f958f" href="index.php" class="footer-link">Home</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f9598-176f958f" href="about.php" class="footer-link">About Us</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f959a-176f958f" href="shop.php" class="footer-link">Shop</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f959c-176f958f" href="services.php" class="footer-link">Services</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f959e-176f958f" href="affiliate.php" class="footer-link hide">Become an Affiliate</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95a0-176f958f" href="frequently-asked-questions.php" class="footer-link">FAQ</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95a2-176f958f" href="contact.php" class="footer-link">Contact Us</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95a4-176f958f" href="blogs.php" class="footer-link">Blogs</a>
        </div>
        <div id="w-node-ef992205-966c-748f-d053-488a176f95a6-176f958f" class="footer-column">
            <div class="footer-link-title bot-5">SITE LINKS</div>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95a9-176f958f" href="terms-and-conditions.php" class="footer-link">Terms and Conditions</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95ab-176f958f" href="privacy-policy.php" class="footer-link">Privacy Policy</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95ad-176f958f" href="#" class="footer-link">Product Policy</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95af-176f958f" href="#" class="footer-link">Shipping Policy</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95b1-176f958f" href="#" class="footer-link">Return Policy</a>
        </div>
        <div id="w-node-ef992205-966c-748f-d053-488a176f95b3-176f958f" class="footer-column">
            <div class="footer-link-title bot-5">QUICK LINKS</div>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95b6-176f958f" href="register.php" class="footer-link">Register</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95b8-176f958f" href="login.php" class="footer-link">Login</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95ba-176f958f" href="activate-card.php" class="footer-link">Activate Card</a>
            <a id="w-node-ef992205-966c-748f-d053-488a176f95bc-176f958f" href="feedback.php" class="footer-link">Give us a feedback</a>
        </div>
        <div id="w-node-ef992205-966c-748f-d053-488a176f95be-176f958f" class="signup-wrapper">
            <div class="heading-style-h6 news-letter-title">Sign up to our newsletter.</div>
            <div class="bot-20">Get the latest news and update.</div>
            <div class="form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="665f147b743ba95cae446d00" data-wf-element-id="ef992205-966c-748f-d053-488a176f95c4">
                <div class="news-wrapper"><input class="text-field news-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Default" type="email" id="email-2">
                  <div data-w-id="ef992205-966c-748f-d053-488a176f95c7" class="button is-icon absolute-btn">
                    <div class="btn-text">Send</div>
                    <div class="icon-1x1-small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 12 12" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.32481 1.89973C5.86086 2.62911 7.23527 3.75138 9.13918 3.69086L1.16196 8.29651L1.44768 8.79138L9.42395 4.18628C8.42036 5.80457 8.70502 7.5554 9.06858 8.38414L9.59187 8.15458C9.19323 7.24586 8.893 4.99296 10.9407 3.33777L10.7588 3.11272L10.7351 3.07171L10.6311 2.80164C8.17386 3.74738 6.37291 2.36093 5.78526 1.56133L5.32481 1.89973Z" fill="white"></path>
                    </svg></div>
                    <div class="button-overlay pointer-events-off"></div><input type="submit" data-wait="" class="submit-btn w-button" value="">
                </div>
            </div><label class="w-checkbox checkbox-field">
              <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox w--redirected-checked"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1" checked=""><span class="cart-check-label w-form-label" for="checkbox-2">I agree with the <a href="terms-and-conditions.php">Terms and Conditions</a></span>
          </label>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
    </div>
</div>
</div>
</div>
<div class="footernote-wrapper">
  <div id="footer-note">Copyright © 2022 Eassave. All Rights Reserved.</div>
</div>
</div>
</div>
</section>


